/* Global Fonts */
/* Header font font-family: 'Inconsolata', monospace; */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");
/* Body font font-family: 'Space Mono', monospace; */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/* Footer font font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.main {
  display: grid;
  height: 100%;
  grid-template-areas:
    "header header"
    "img section"
    "img section"
    "footer footer";
  grid-template-columns: 50% 50%;
  position: relative;
}

.header {
  grid-area: header;
  height: 0vh;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 77px;
  color: rgba(51, 51, 51, 1);
}

img {
  height: 414.25px;
  width: 539.22px;
  left: 77px;
  top: 265px;
  border-radius: 0px;

  position: absolute;
  top: 20%;
  left: 20%;

  grid-area: img;
}

.main-section {
  height: 80vh;
  font-family: "Space Mono", monospace;
  grid-area: section;
}

.main-section h2 {
  margin-top: 13%;
  font-size: 64px;
  font-weight: 700;
}

.main-section p {
  grid-area: p;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
}

.button {
  margin-top: 70px;
  color: rgba(255, 255, 255, 1);
  background: rgba(51, 51, 51, 1);
  width: 216px;
  height: 68px;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  border: 0;
  outline: 0;
  cursor: pointer;
}

footer {
  grid-area: footer;
  height: 5vh;
  text-align: center;
  color: #bdbdbd;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 90px;
}
